.intro {
  padding: 5%;
}
.page-wrapper{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
    display: grid;
}
.sidebar{
    grid-area: sidebar;
}
#zen-supporting{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "enlight what quote"
    "benefits participation participation"
    "require require require";
    grid-gap: 2em;
}
footer{
    grid-area: footer;
}

.participation{
    grid-area: participation;
}

.benefits{
    grid-area: benefits;
}

.requirements{
    grid-area: require;
}

.explanation{
    grid-area: what;
}

.summary{
    grid-area: quote;
}

.preamble{
    grid-area: enlight;
}

.sidebar{
    display: flex;
    flex-direction: row;
}
