@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.google.com/specimen/Montserrat?query=montserrat&category=Sans+Serif');
//@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$fonts-headline: 'Codystar', cursive;
$fonts-body: 'Montserrat', sans-serif;
$background-color: #0A0223;
$primary: #3A1153;
$accent1: #2E4271;
$accent2: #887CAF;
$text-dark: #0A0223;
$text-light: #fff;
