@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $text-dark;
  padding: 5%;
}

body {
  background-image: linear-gradient(135deg, $text-dark, $background-color, $accent1, $primary, $accent2);
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  margin: 0;
  padding: 1em;
}

